<div class="container mt-4">
    <h2>Mi Información</h2>
    
    <div class="datos_personales">
        <h3>Bienvenido {{ user?.name }}</h3>
        <p>Correo electrónico: {{ user?.email }}</p>
        <p>Mi rol: {{ user?.role }}</p>
    </div>
  
    <div ngIf="user; else loading">
      <form [formGroup]="form" action="" (ngSubmit)="actualizar()">
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="name" name="name" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" formControlName="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar Información</button>
      </form>
  
      <div class="mt-4">
        <h3>Seguridad</h3>
        <button class="btn btn-warning" (click)="editar()">Cambiar Contraseña</button>
        <button id="button" class="btn btn-danger " (click)="eliminar()">Eliminar Cuenta</button>
      </div>
    </div>
  
    <ng-template #loading>
      <p>Cargando información del usuario...</p>
    </ng-template>
  </div>
  
  